 @import './_theme.css';

 :root {
     --img-profile-sm: 240px;
     --img-profile-md: 260px;

 }


 @media (width <=1200px) {
     :root {
         --img-profile-md: 240px;

     }

 }

 /* Estilos compartidos */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: var(--primary-font);
     color: var(--grey-950);
 }

 html {
     font-size: 22px;
 }


 body {
     background-color: var(--grey-50);
     display: grid;
     grid-template-rows: auto 1fr auto;
     height: 100vh;
 }

 source {
     position: absolute;
 }



 .header {
     background-color: var(--main-color);
     min-height: max-content;
     display: flex;
     flex-direction: column;
     height: max-content;
     position: relative;
     padding: 0 30px;

 }

 .nav {
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: 100%;
     flex-grow: 1;
     gap: 30px;
     min-height: 80px;
 }

 .nav-container-icon {
     flex: 0.3;
 }

 .icono {
     color: var(--white);
     cursor: pointer;
 }

 .icono span {
     color: var(--white);
     font-size: 1.4rem;
     font-weight: lighter;
     font-family: var(--flex-font);
 }

 .search-box,
 .search-box-responsive {
     display: flex;
     align-items: center;
     justify-content: center;
     flex: 1;
 }

 .nav-container-search,
 .nav-container-search-responsive {
     flex: 0.5;
     display: flex;
     justify-content: center;

 }

  .nav-container-search-responsive {
    padding-top: 10px;
  }

 .container-nav-responsive {
     position: absolute;
     top: -1000px;
     display: flex;
     flex-direction: column;
     gap: 20px;
     border-top: 1px solid white;
     padding: 10px 0px;
     
 }

 .relative {
     position: relative;
 }

 .inset-0 {
     inset: 0;
 }

 .search-input,
 .search-input-responsive {
     padding: 8px 12px;
     border: none;
     border-radius: 15px 0 0 15px;
     outline: none;
     height: 40px;
     flex: 0.8;
 }

 .search-input-responsive {
    flex: 0.9;
 }

 .search-button,
 .search-button-responsive {
     padding: 8px 12px;
     border: none;
     background-color: var(--accent-color);
     color: var(--white);
     cursor: pointer;
     height: 40px;
     border-radius: 0px 15px 15px 0px;
     padding: 8px 12px;
     flex: 0.15;
 }

 .nav-container-user {
     flex: 0.2;
     display: flex;
     justify-content: flex-end;
 }

 .container-user-box-responsive {
     display: flex;
     justify-content: end;
     align-items: center;
     border-top: 1px solid white;
     padding-top: 15px;
     
 }

 .item-user-box-responsive {
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
 }

 .user-box-responsive-title {
    color: var(--white);
 }

 .user-box,
 .user-box-responsive {
     display: flex;
     align-items: center;
     background-color: var(--accent-color);
     padding: 8px 10px;
     border-radius: 50%;
     cursor: pointer;
     width: 56px;
     height: 56px;
 }

 .user-menu {
     visibility: hidden;
     position: absolute;
 }

 .user-menu-icon {
     width: 40px;
     height: 40px;
     cursor: pointer;
 }



 .footer {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 15px 0;
     border-top: 2px solid var(--grey-200);
     height: 100px;

 }

 .footer p {
     color: var(--grey-400);
 }

 /*  Estilos de home/index.html */

 .home-container {
     max-width: 1290px;
     margin: 0 auto;
     padding: 25px;
     width: 100%;
     margin-bottom: 10px;
 }

 .home-container-title {
     margin: 0 auto;
     margin-bottom: 25px;
     padding-left: 10px;

 }

 .title {
     font-size: 1.5rem;
 }

 .home-container-cards {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(var(--img-profile-md), 1fr));
     grid-template-rows: auto;
     gap: 30px;
     justify-items: center;


 }

 .card {
     display: flex;
     flex-direction: column;
     padding-bottom: 20px;
     border-radius: 20px;
     background-color: var(--main-color);
     overflow: hidden;
     min-width: var(--img-profile-md);
     transition: transform 0.3s ease, background-color 0.3s ease;
     cursor: pointer;
     max-height: 335px;
 }

 .card:hover {
     transform: scale(1.08) rotate(5deg);
     background-color: var(--accent-color);
 }

 .card-bottom {
     display: flex;
     align-items: center;
 }

 .card-container-img {
     width: 100%;
     height: 100%;
     overflow: hidden;
     display: flex;
 }

 .card-profile-img {
     width: 100%;
     max-height: var(--img-profile-md);
     object-fit: cover;
 }

 .card-bottom {
     padding: 15px;
     background-color: var(--white);
 }

 .card-title {
     font-size: 1.2rem;
     font-weight: 500;
 }



 /* Estilos de profile.html */

 .profile-container {
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin-right: 40px;
     margin-bottom: 40px;
     box-shadow: 8px 10px 8px -3px var(--grey-100);
     background-color: var(--white);
     max-height: 700px;
     max-width: 1500px;
 }

 .profile-container-left {
     flex: 0.4;
     background-color: var(--main-color);
     padding-right: 6px;
     position: relative;
 }

 .profile-container-left div {
     display: flex;
     height: 100%;
 }

 .profile-container-left div picture {
     display: flex;
     flex: 1;

 }

 .profile-container-right {
     flex: 0.6;
     padding: 15px 30px 30px 15px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     gap: 20px;
 }


 .profile-img {
     width: 100%;
     height: auto;
     border-bottom-right-radius: 18%;
     object-fit: cover;
 }

 .profile-title {
     color: var(--main-color);
 }


 .profile-description {
     font-style: italic;
     font-family: var(--condensed-font);
     max-width: 98%;
 }

 .feature-5 {
     font-weight: bold;
 }

 .contact-info a {
     font-weight: bold;
     color: var(--main-color);
     cursor: pointer;
 }

 .contact-info a:active,
 .contact-info a:visited {
     color: var(--accent-color);
 }

 /* Estilos para dispositivos móviles */
 @media (width <=480px) {

     html {
         font-size: 12px;
     }

     .nav-container-search {
         display: none;
     }

     /* .header {

         min-height: 70px;

     } */

     .profile-container {
         flex-direction: column;
         max-height: max-content;
     }


     .card {
         min-width: var(--img-profile-sm);


     }

     .card-profile-img {
         max-height: var(--img-profile-sm);
     }

     .header {
         padding: 0 10px;

     }

     .home-container {
         padding-left: 10px;
         padding-right: 10px;
     }

     .profile-container-left {
         flex: 0.5;
         padding-right: 0;
         padding-bottom: 6px;
     }

     .profile-container-right {
         flex: 0.5;
     }

     .profile-container {
         margin-right: 0;
         margin-bottom: 20px;

     }

     .user-box {
         display: none;
     }

     .user-menu {
         visibility: visible;
         position: relative;
     }

     .user-menu-icon {
         width: 30px;
         height: 30px;

     }

     .profile-img {
         max-height: 480px;
     }


 }

 /* Estilos para tablets y dispositivos con pantallas medianas */
 @media (481px <= width <=768px) {
     html {
         font-size: 14px;
     }

     .nav-container-search {
         display: none;
     }

     .profile-container {
         flex-direction: column;
         max-height: max-content;
     }

     /* .header {

         min-height: 70px;

     } */

     .header {
         padding: 0 25px;

     }


     .home-container-cards {
         gap: 60px;
     }

     .profile-container-left {
         flex: 0.5;
         padding-right: 0;
         padding-bottom: 6px;
     }

     .profile-container-right {
         flex: 0.5;
     }

     .profile-container {
         margin-right: 0;
         margin-bottom: 20px;

     }


     .user-box {
         display: none;
     }

     .user-menu {
         visibility: visible;
         position: relative;
     }

     .profile-img {
         max-height: 540px;
     }

 }

 /* Estilos para pnatallas pequeñas y ordenadores portatiles */
 @media (769px <=width <=1024px) {
     html {
         font-size: 16px;
     }

     .header {
         padding: 0 25px;

     }

     .profile-container-left {
         flex: 0.55;
     }

     .profile-container-right {
         flex: 0.45;
     }

     .profile-container {
         max-height: 700px;
         margin-right: 20px;
     }
 }

 @media (1025px <=width <=1200px) {
     html {
         font-size: 18px;
     }

 }