<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" sizes="32x32" href="./static/icon/cropped-logonuevo-32x32.png">
    <link rel="icon" sizes="192x192" href="./static/icon/cropped-logonuevo-192x192.png">
    <title>ATI[UCV]Log 2026-1</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <script type="text/javascript" src="./static/js/profile.js" defer></script>
    <script type="text/javascript" src="./static/js/index.js" defer></script>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <div class="nav-container-icon">
                <h1 class="icono" id="icon-text"></h1>
            </div>

            <div class="nav-container-search">
                <div class="search-box">
                    <input type="text" placeholder="" class="search-input" id="search-input">
                    <button class="search-button" id="search-button"></button>
                </div>
            </div>

            <div class="nav-container-user">
                <div class="user-box" id="user-box">
                    <img src="./static/icon/userIcon.svg" alt="User Icon" class="user-icon" id="user-icon">
                </div>

                <div class="user-menu">
                    <img src="./static/icon/menuIcon.svg" alt="User Icon Menu" class="user-menu-icon" id="user-menu-icon">
                </div>
            </div>
        </nav>
        <div class="container-nav-responsive" id="container-nav-responsive">
            <div class="nav-container-search-responsive">
                <div class="search-box-responsive">
                    <input type="text" placeholder="" class="search-input-responsive" id="search-input-responsive">
                    <button class="search-button-responsive" id="search-button-responsive"></button>
                </div>
            </div>
            <div class="container-user-box-responsive" id="btn_user_resposive">
                <div class="item-user-box-responsive">
                    <h2 class="user-box-responsive-title" id="user-box-responsive-title"></h2>
                    <div class="user-box-responsive" id="user-box">

                        <img src="./static/icon/userIcon.svg" alt="User Icon" class="user-icon-responsive"
                            id="user-icon-responsive">
                    </div>
                </div>
            </div>

        </div>
    </header>
    
    <section class="home-container" id="home-view">
        <div class="home-container-title">
            <h2 class="title" id="home-title"></h2>
        </div>
        
        <!-- Contenedor para lista de estudiantes al buscar -->
        <div class="home-container-cards" id="search-container-list" style="display: none;"></div>

        <!-- Contenedor principal de tarjetas de estudiantes -->
        <div class="home-container-cards" id="home-container-cards"></div>
    </section>

    <!-- Contenedor del perfil (SPA) -->
    <section class="profile-container" id="profile-container" style="display: none;">
        <!-- Se llena con Javascript (fetch) -->
    </section>

    <footer class="footer">
        <p id="footer-text"></p>
    </footer>

</body>

</html>